/*{
  padding: 0;
  margin: 0;
} */


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  /* background: url(./assets/Images/bg1.jpg); */
  /* background-color: black; */
  /* color: white; */
  
font-family: 'Open Sans', sans-serif;

}
@media screen and (max-width:750px){
  body{
    width: 730px;
  }

 
  
}